.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Kufam', sans-serif;
}

.loginContainer button {
    color: #fff;
    background: linear-gradient(90.89deg, #22AE75 0%, #00874F 52.36%);
    border: transparent;
    border-radius: 6px;
    font-size: 20px;
    padding: 12px 110px;
    font-family: 'Kufam';
    margin-top: 32px;
    margin-bottom: 30px;
}

.loginContainer button:hover {
    background: #ffffff16;
    color: #33E29A;
    border-radius: 10px;
    transition: .5s;
    transform: scale(1.1);
    cursor: pointer;
}

.login {
    width: 100%;
    max-width: 440px;
    height: 50vh;
    padding: 15px;
    border-radius: 10px;
    background-color: #09090ba8;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login input {
    width: 300px;
    height: 40px;
    background: 
    linear-gradient(0deg, #262626, #262626),
    linear-gradient(0deg, #414141, #414141);
    border: 1px solid #414141;
    border-radius: 6px;
    font-family: inherit;
    color: #fff;
    font-size: 14px;
    padding-left: 5px;
}

.loginContainer img {
    margin-top: 32px;
}

.relembrarSenhaContainer {
    display: flex;
    margin-right: 113px;
    margin-top: 30px;
}

.relembrarSenhaContainer input {
    width: 16px;
    height: 14px;
    margin-right: 11px;
}

.relembrarSenhaContainer h4 {
    font-size: 12px;
}

.login a {
    text-decoration: none;
    color: #33E29A;
}

.loginContainer a:hover {
    text-decoration: underline;
}

.containerEmail {
    margin-top: 10px;
}

::-webkit-input-placeholder  { 
    padding-left: 10px; 
}

.containerEmail h4 {
    margin-bottom: 6px;
}

.containerPassword {
    margin-top: 24px;
}

.containerPassword h4 {
    margin-bottom: 6px;
}

@media (max-width: 1200px) {
    .login {
        height: 50vh;
        margin-top: 90px;
    }
}

@media (max-width: 768px) {
    .login {
        height: 50vh;
        margin-top: 90px;
    }
}

@media (max-width: 600px) {
   .login {
    margin-top: 60px;
   }
}

@media (max-width: 500px) {
    .login {
        max-width: 370px;
        height: 55vh;
    }

    .login button {
        padding: 15px 60px;
    }
  }