.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin-top: 70px;
    width: 100%;
}

.navBar a {
    text-decoration: none;
    color: #fff;
    font-family: 'Kufam', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 30px;
}

.navBar a:hover {
    background: #ffffff16;
    color: #33E29A;
    border-radius: 10px;
    transition: .5s;
    transform: scale(1.1);
}

@media (max-width: 1200px) {
  .navBar {
    margin-top: 60px;
  }
}

@media (max-width: 868px) {
  .navBar {
    gap: 20px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .navBar {
    margin-top: 70px;
    gap: 20px;
    font-size: 14px;
  }
}

@media (max-width: 710px) {
  .navBar {
    gap: 15px;
    font-size: 14px;
  }
}

@media (max-width: 690px) {
  .navBar {
    gap: 15px;
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .navBar {
    gap: 5px;
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .navBar {
    gap: 0px;
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .navBar {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
}